@page "/accounts"
@inject IAccountService AccountService;
@using BlazorStandaloneApp.Domain
@using System.ComponentModel.DataAnnotations

<PageTitle>New account</PageTitle>

<h1>New account</h1>

<EditForm Model="_model" OnValidSubmit="CreateAccountAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-row">
        <label>Account name</label>
        <InputText @bind-Value="_model.Name" />
    </div>

    <div class="form-row">
        <label>Account type</label> 
        <InputSelect @bind-Value="_model.AccountType">
            <option value="">Select account type</option>
            <option value="@AccountType.Deposit">Deposit account</option>
            <option value="@AccountType.Savings">Savings account</option>
        </InputSelect>
    </div>

    <div class="form-row">
        <label>Currency</label>
        <InputText @bind-Value="_model.Currency"></InputText>
    </div>

    <div class="form-row">
        <label>Starting balance</label>
        <InputNumber @bind-Value="_model.InitialBalance"></InputNumber>
    </div>

    <button type="submit" class="btn-submit">Create account</button>
</EditForm>

<!--- Lägg till alla konton --->

<h4>Recently added accounts</h4>
@if(_accounts.Count == 0)
{
    <p>There are no accounts, create your first.</p>
}
else
{
    <ul>
        @foreach (var account in _accounts)
        {
            <li>
            <strong>@account.Name</strong> - @account.AccountType - @account.Balance @account.Currency
            <small>(uppdaterad @account.LastUpdated.ToLocalTime())</small>
            </li>
        }
    </ul>
}

@code {
    private CreateAccountModel _model = new();
    private List<IBankAccount> _accounts = new();
    protected override async Task OnInitializedAsync()
    {
        _accounts = await AccountService.GetAccounts();
    }

    private async Task CreateAccountAsync()
    {
        try{
            AccountService.CreateAccount(
            _model.Name,
            _model.AccountType,
            _model.Currency,
            _model.InitialBalance);
            _accounts = await AccountService.GetAccounts();
            _model.Clear();
            StateHasChanged();
        }
        catch (Exception exception)
        {
            Console.WriteLine(exception);
        }
    }

    private class CreateAccountModel
    {
        [Required(ErrorMessage = "Please add an account name")]
        public string? Name { get; set; }
        public AccountType AccountType { get; set; }
        public string? Currency { get; set; } = "SEK";
        public decimal InitialBalance { get; set; } = 0;

        public void Clear()
        {
            Name = string.Empty;
            Currency = "SEK";
            InitialBalance = 0;
            AccountType = default;
        }
    }
}
