@page "/history"
@inject IAccountService AccountService;
@inject IStorageService StorageService;
@using BlazorStandaloneApp.Domain
@using System.ComponentModel

@* 
Summary:
Displays transaction history with sorting and filtering options 
(by date range, transaction type, and amount).
*@

<PageTitle>History</PageTitle>

<h1>History</h1>

@if (_accounts == null)
{
    <p>Loading accounts</p>
}
else if (_accounts.Count == 0)
{
    <p>No accounts</p>
}
else
{
    <div class="form-row">
        <label>Select Account</label>
        <InputSelect TValue="Guid" class="form-select" id="accountSelect"
        @bind-Value="SelectedAccountId">
        @foreach (var account in _accounts)
        {
            <option value="@account.Id">@account.Name, Balance: @account.Balance @account.CurrencyType</option>
        }
        </InputSelect>
    </div>
    
    <div class="form-row">
    <div class="col">
        <label>From date</label>
        <InputDate class="form-control" @bind-Value="filterFromDate" />
    </div>
    <div class="col">
        <label>To date</label>
        <InputDate class="form-control" @bind-Value="filterToDate" />
    </div>
    <div class="col">
        <label>Transaction type</label>
        <InputSelect class="form-select" @bind-Value="filterTransactionType">
        <option value="">All</option>
            @foreach (TransactionType type in Enum.GetValues(typeof(TransactionType)))
                {
                    <option value="@type">@type</option>
                }
        </InputSelect>
    </div>
    </div>

    @if(_selectedAccount == null || _selectedAccount.Transactions == null || !_selectedAccount.Transactions.Any())
    {
        <p>No transactions</p>
    }
    else
    {
        <table class="accounts-table">
            <thead>
                <tr>
                    <th><button class="btn-sort" @onclick="() => SetSort(SortKey.Date)">
                        Date @(currentKey == SortKey.Date ? (descending ? "⯆" : "⯅") : "")
                    </button></th>
                    <th><button class="btn-sort" @onclick="() => SetSort(SortKey.Amount)">
                        Amount @(currentKey == SortKey.Amount ? (descending ? "⯆" : "⯅") : "")
                    </button></th>
                    <th><button class="btn-sort" @onclick="() => SetSort(SortKey.Type)">
                        Transaction type @(currentKey == SortKey.Type ? (descending ? "⯆" : "⯅") : "")
                    </button></th>
                    <th><button class="btn-sort" @onclick="() => SetSort(SortKey.BalanceAfterTransaction)">
                        Balance @(currentKey == SortKey.BalanceAfterTransaction ? (descending ? "⯆" : "⯅") : "")
                    </button></th>
                    <th>From ⭢ To</th>
                </tr>
            </thead>
            <tbody>
            @foreach(var transaction in sortedTransaction())
            {
                <tr>
                <td>@transaction.DateTime.ToLocalTime().ToString("yyyy-MM-dd HH:mm")</td>
                <td>@transaction.Amount @transaction.CurrencyType</td>
                <td>
                    @if (transaction.Type == TransactionType.Withdraw)
                    {
                        <span>@transaction.Type: @transaction.Category</span>
                    }
                    else
                    {
                        @transaction.Type
                    }
                </td>
                <td>@transaction.BalanceAfterTransaction @transaction.CurrencyType</td>
                <td>
                    @if(transaction.FromAccount.HasValue || transaction.ToAccount.HasValue)
                    {
                        <span>@(transaction.FromAccount!.Value.ToString()[..6]) ⭢ @(transaction.ToAccount!.Value.ToString()[..6])</span> // Vad ska jag göra här?
                    }
                </td>
                </tr>
            }
            </tbody>
        </table>
    }
}

@code {
    private List<BankAccount> _accounts = new();
    private List<Transaction> _transactions = new();
    private IBankAccount? _selectedAccount;
    private Guid _selectedAccountID;
    private DateTime? filterFromDate;
    private DateTime? filterToDate;
    private TransactionType? filterTransactionType;

    // Start value
    private SortKey currentKey = SortKey.Date;
    private bool descending = true;

    //Sorting keys for table
    private enum SortKey
    {
        Date,
        Amount,
        Type,
        BalanceAfterTransaction
    }

    // Change the current sorting key or reverse sort order
    private void SetSort(SortKey sortKey)
    {
        if (currentKey == sortKey)
        {
        descending = !descending;
        }
        else
        {
            currentKey = sortKey;
            descending = true;
        }
    }

    // Keeps track of which account is selected in the dropdown
    private Guid SelectedAccountId
    {
        get => _selectedAccountID;
        set
        {
            if (_selectedAccountID == value)
                return;
            _selectedAccountID = value;
            _selectedAccount = _accounts.FirstOrDefault(account => account.Id == value);
        }
    }

    // Load accounts and initialize the first one on page load
    protected override async Task OnInitializedAsync()
    {
        var accounts = await AccountService.GetAccounts();
        _accounts = accounts.Cast<BankAccount>().ToList();
        _transactions = new();

         // Select the first account by default if available
        if (_accounts.Count > 0)
        {
            _selectedAccountID = _accounts[0].Id;
            _selectedAccount = _accounts[0];
        }
    }

    // Filter and sort transactions based on user-selected criteria
    private IEnumerable<Transaction> sortedTransaction()
    {
        if (_selectedAccount == null)
            return Enumerable.Empty<Transaction>();

        // sortera lista, Datum och belopp
        var sortedList = _selectedAccount.Transactions.AsEnumerable();
        
        if (filterFromDate.HasValue)
	        sortedList = sortedList.Where(t => t.DateTime.Date >= filterFromDate.Value.Date);
 
        if (filterToDate.HasValue)
	        sortedList = sortedList.Where(t => t.DateTime.Date <= filterToDate.Value.Date);
 
        if (filterTransactionType.HasValue)
	        sortedList = sortedList.Where(t => t.Type == filterTransactionType.Value);
 

        sortedList = currentKey switch
        {
            SortKey.Amount => (descending ? sortedList.OrderByDescending(t => t.Amount) 
            : sortedList.OrderBy(t => t.Amount)),
            SortKey.Date => (descending ? sortedList.OrderByDescending(t => t.DateTime) 
            : sortedList.OrderBy(t => t.DateTime)),
            SortKey.Type => (descending ? sortedList.OrderByDescending(t => t.Type) 
            : sortedList.OrderBy(t => t.Type)),
            SortKey.BalanceAfterTransaction => (descending ? sortedList.OrderByDescending(t => t.BalanceAfterTransaction) 
            : sortedList.OrderBy(t => t.BalanceAfterTransaction)),

            _ => sortedList
        };
        return sortedList;
    }
}