@page "/myAccounts"
@inject IAccountService AccountService;
@using BlazorStandaloneApp.Domain

<PageTitle>My accounts</PageTitle>

<h1>My accounts</h1>

@if(_accounts.Count == 0)
{
    <p>There are no accounts, create your first under New account</p>
}
else
{
    <p>
        @foreach (var account in _accounts)
        {
            <p>
            <strong>@account.Name</strong> - @account.AccountType - @account.Balance @account.Currency
            <small>(uppdaterad @account.LastUpdated.ToLocalTime())</small>
            </p>
        }
    </p>
}


@code {
    private CreateAccountModel _model = new();
    private List<IBankAccount> _accounts = new();
    protected override void OnInitialized()
    {
        _accounts = AccountService.GetAccounts().ToList();
        base.OnInitialized();
    }

    private Task CreateAccountAsync()
    {
        try{
            AccountService.CreateAccount(
            _model.Name,
            _model.AccountType,
            _model.Currency,
            _model.InitialBalance);

            _accounts = AccountService.GetAccounts().ToList();
            _model.Clear();
        }
        catch (Exception exception)
        {
            Console.WriteLine(exception);
        }
        return Task.CompletedTask;  
    }

    private class CreateAccountModel
    {
        public string? Name { get; set; }
        public AccountType AccountType { get; set; }
        public string? Currency { get; set; } = "SEK";
        public decimal InitialBalance { get; set; } = 0;

        public void Clear()
        {
            Name = string.Empty;
            Currency = "SEK";
            InitialBalance = 0;
            AccountType = default;
        }
    }
}
