@page "/myAccounts"
@inject IAccountService AccountService;
@using BlazorStandaloneApp.Domain

<PageTitle>My accounts</PageTitle>

<h1>My accounts</h1>

@if(_accounts.Count == 0)
{
    <p>There are no accounts, create your first under New account.</p>
}
else
{
    <table class="accounts-table">
        <thead>
            <tr>
                <th>Account name</th>
                <th>Account type</th>
                <th>Balance</th>
                <th>Currency</th>
                <th>Last updated</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var account in _accounts)
        {
            <tr>
                <td>@account.Name</td>
                <td>@account.AccountType</td>
                <td>@account.Balance</td>
                <td>@account.CurrencyType</td>
                <td>@account.LastUpdated.ToLocalTime()</td>
                <td>
                @if (account.Balance == 0)
                    {
                        <button class="remove-btn" @onclick="() => RemoveAccount(account)">Remove</button>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}


@code {
    private CreateAccountModel _model = new();
    private List<BankAccount> _accounts = new();
    protected override async Task OnInitializedAsync()
    {
        _accounts = await AccountService.GetAccounts();
    }

    private async Task CreateAccountAsync()
    {
        try{
            await AccountService.CreateAccount(
            _model.Name, // Vad ska jag göra här?
            _model.AccountType,
            _model.CurrencyType, // Vad ska jag göra här?
            _model.InitialBalance);

            _accounts = await AccountService.GetAccounts();
            _model.Clear();
        }
        catch (Exception exception)
        {
            Console.WriteLine(exception);
        }
    }

    private async Task RemoveAccount(IBankAccount account)
    {
        try
        {
            await AccountService.DeleteAccount(account);
            _accounts = await AccountService.GetAccounts();
        }
        catch (Exception exception)
        {
            Console.WriteLine(exception);
        }
    }

    private class CreateAccountModel
    {
        public string? Name { get; set; }
        public AccountType AccountType { get; set; }
        public CurrencyType CurrencyType { get; set; }
        public decimal InitialBalance { get; set; } = 0;

        public void Clear()
        {
            Name = string.Empty;
            CurrencyType = default;
            InitialBalance = 0;
            AccountType = default;
        }
    }
}
