@page "/myAccounts"
@inject IAccountService AccountService;
@using BlazorStandaloneApp.Domain

<PageTitle>My accounts</PageTitle>

<h1>My accounts</h1>

@if(_accounts.Count == 0)
{
    <p>There are no accounts, create your first under New account.</p>
}
else
{
    <table class="accounts-table">
        <thead>
            <tr>
                <th>Account name</th>
                <th>Account type</th>
                <th>Balance</th>
                <th>Currency</th>
                <th>Last updated</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var account in _accounts)
        {
            <tr>
                <td>@account.Name</td>
                <td>@account.AccountType</td>
                <td>@account.Balance</td>
                <td>@account.CurrencyType</td>
                <td>@account.LastUpdated.ToLocalTime()</td>
                <td>
                @if (account.Balance == 0)
                    {
                        <button class="remove-btn" @onclick="() => RemoveAccount(account)">Remove</button>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}


@code {
    private CreateAccountModel _model = new();
    private List<BankAccount> _accounts = new();
    //private IBankAccount? _selectedAccount;

    // private Guid _selectedAccountID;

    // Startvärde
    // private SortKey currentKey = SortKey.Date;
    // private bool descending = true;

    //Sorteringsvarianter
    @*private enum SortKey
    {
        Date,
        Name,
        AccountType,
        Balance,
        CurrencyType,
        LastUpdated
    }
        private void SetSort(SortKey sortKey)
    {
        if (currentKey == sortKey)
        {
        descending = !descending;
        }
        else
        {
            currentKey = sortKey;
            descending = true;
        }
    }

    private Guid SelectedAccountId
    {
        get => _selectedAccountID;
        set
        {
            if (_selectedAccountID == value)
                return;
            _selectedAccountID = value;
            _selectedAccount = _accounts.FirstOrDefault(account => account.Id == value);

        }
    }

    private IEnumerable<Transaction> sortedTransaction()
    {
        if (_selectedAccount == null)
            return Enumerable.Empty<Transaction>();

        // sortera lista, Datum och belopp
        var sortedList = _selectedAccount.Transactions.AsEnumerable();
        sortedList = currentKey switch
        {
            SortKey.Date => (descending ? sortedList.OrderByDescending(t => t.DateTime) 
            : sortedList.OrderBy(t => t.DateTime)),
            SortKey.Name => (descending ? sortedList.OrderByDescending(t => t.Name) 
            : sortedList.OrderBy(t => t.Name)),
            SortKey.AccountType => (descending ? sortedList.OrderByDescending(t => t.AccountType) 
            : sortedList.OrderBy(t => t.AccountType)),
            SortKey.Balance => (descending ? sortedList.OrderByDescending(t => t.Balance) 
            : sortedList.OrderBy(t => t.Balance)),
            SortKey.CurrencyType => (descending ? sortedList.OrderByDescending(t => t.CurrencyType) 
            : sortedList.OrderBy(t => t.CurrencyType)),
            SortKey.LastUpdated => (descending ? sortedList.OrderByDescending(t => t.LastUpdated) 
            : sortedList.OrderBy(t => t.LastUpdated))
            
        };

        return sortedList;
    }
    *@
    protected override async Task OnInitializedAsync()
    {
        _accounts = await AccountService.GetAccounts();
        // Om det finns konton i vår lista, välj första för att visa UI
        @*if (_accounts.Count > 0)
        {
            _selectedAccountID = _accounts[0].Id;
            _selectedAccount = _accounts[0];
        }*@
    }

    private async Task CreateAccountAsync()
    {
        try{
            await AccountService.CreateAccount(
            _model.Name, // Vad ska jag göra här?
            _model.AccountType,
            _model.CurrencyType,
            _model.InitialBalance);

            _accounts = await AccountService.GetAccounts();
            _model.Clear();
        }
        catch (Exception exception)
        {
            Console.WriteLine(exception);
        }
    }

    private async Task RemoveAccount(IBankAccount account)
    {
        try
        {
            await AccountService.DeleteAccount(account);
            _accounts = await AccountService.GetAccounts();
        }
        catch (Exception exception)
        {
            Console.WriteLine(exception);
        }
    }

    private class CreateAccountModel
    {
        public string? Name { get; set; }
        public AccountType AccountType { get; set; }
        public CurrencyType CurrencyType { get; set; }
        public decimal InitialBalance { get; set; } = 0;

        public void Clear()
        {
            Name = string.Empty;
            CurrencyType = default;
            InitialBalance = 0;
            AccountType = default;
        }
    }
}
