@page "/myAccounts"
@inject IAccountService AccountService;
@inject IAuthenticationService AuthenticationService
@inject NavigationManager Navigation
@using BlazorStandaloneApp.Domain

@* 
Summary:
Displays all of the user's bank accounts with details such as type, balance, 
interest rate, and last updated date. Allows removal of accounts with zero balance.
*@

<PageTitle>My accounts</PageTitle>

<h1>My accounts</h1>

@if(_accounts.Count == 0)
{
    <p>There are no accounts, create your first under New account.</p>
}
else
{
    <table class="accounts-table">
        <thead>
            <tr>
                <th><button class="btn-sort" @onclick="() => SetSort(SortKey.Name)">
                Name @(currentKey == SortKey.Name ? (descending ? "⯆" : "⯅") : "")
                </button></th>
                <th><button class="btn-sort" @onclick="() => SetSort(SortKey.AccountType)">
                Account type @(currentKey == SortKey.AccountType ? (descending ? "⯆" : "⯅") : "")
                </button></th>
                <th><button class="btn-sort" @onclick="() => SetSort(SortKey.Balance)">
                Balance @(currentKey == SortKey.Balance ? (descending ? "⯆" : "⯅") : "")
                </button></th>
                <th>Interest rate</th>
                <th><button class="btn-sort" @onclick="() => SetSort(SortKey.AccumulatedInterest)">
                Accumulated interest @(currentKey == SortKey.AccumulatedInterest ? (descending ? "⯆" : "⯅") : "")
                </button></th>
                <th><button class="btn-sort" @onclick="() => SetSort(SortKey.LastUpdated)">
                Last updated @(currentKey == SortKey.LastUpdated ? (descending ? "⯆" : "⯅") : "")
                </button></th>
                <th><!-- Potential remove button --></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var account in SortedAccounts())
        {
            <tr>
                <td>@account.Name</td>
                <td>@account.AccountType</td>
                <td>@account.Balance @account.CurrencyType</td>
                <td>
                @if (account.AccountType == AccountType.Savings)
                {
                    @(BankAccount.InterestRate * 100)
                }
                </td>
                <td>@account.ApplyInterest().ToString() @account.CurrencyType</td>
                <td>@account.LastUpdated.ToLocalTime()</td>
                <td>
                @if (account.Balance == 0)
                    {
                        <button class="remove-btn" @onclick="() => RemoveAccount(account)">Remove</button>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private CreateAccountModel _model = new();
    private List<BankAccount> _accounts = new();

    // Start value
    private SortKey currentKey = SortKey.Name;
    private bool descending = false;

    //Sorting keys for table
    private enum SortKey
    {
        Name,
        AccountType,
        Balance,
        AccumulatedInterest,
        LastUpdated
    }

    // Check if page is authenticated and load all user accounts when the page initializes
    protected override async Task OnInitializedAsync()
    {
        _accounts = await AccountService.GetAccounts();
    }

    // Create a new account and refresh the list
    private async Task CreateAccountAsync()
    {
        try{
            await AccountService.CreateAccount(
            _model.Name!,
            _model.AccountType,
            _model.InitialBalance);

            _accounts = await AccountService.GetAccounts();
            _model.Clear();
        }
        catch (Exception exception)
        {
            Console.WriteLine(exception);
        }
    }

    // Remove an account
    private async Task RemoveAccount(IBankAccount account)
    {
            await AccountService.DeleteAccount(account);
            _accounts = await AccountService.GetAccounts();
            Console.WriteLine("MyAccounts INFO: Removed account");
    }

    // Model for handling new account creation (shared structure)
    private class CreateAccountModel
    {
        public string? Name { get; set; }
        public AccountType AccountType { get; set; }
        public decimal InitialBalance { get; set; } = 0;

        public void Clear()
        {
            Name = string.Empty;
            InitialBalance = 0;
            AccountType = default;
        }
    }

    // Change the current sorting key or reverse sort order
    private void SetSort(SortKey sortKey)
    {
        if (currentKey == sortKey)
        {
        descending = !descending;
        }
        else
        {
            currentKey = sortKey;
            descending = true;
        }
    }

    private IEnumerable<BankAccount> SortedAccounts()
    {
        // Sort list
        var sortedList = _accounts.AsEnumerable();

        sortedList = currentKey switch
        {
            SortKey.Name => (descending ? sortedList.OrderByDescending(t => t.Name) 
            : sortedList.OrderBy(t => t.Name)),
            SortKey.Balance => (descending ? sortedList.OrderByDescending(t => t.Balance) 
            : sortedList.OrderBy(t => t.Balance)),
            SortKey.AccumulatedInterest => (descending ? sortedList.OrderByDescending(t => t.ApplyInterest()) 
            : sortedList.OrderBy(t => t.ApplyInterest())),
            SortKey.LastUpdated => (descending ? sortedList.OrderByDescending(t => t.LastUpdated) 
            : sortedList.OrderBy(t => t.LastUpdated)),

            _ => sortedList
        };
        return sortedList;
    }
}